/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
header{
	margin:0 0 25px;
	
	display: inline-block;
    width:750px;
    background-color: lightslategrey;
    border:solid black;
    border-radius:20px;
    position:fixed;
}

nav a{
	display: inline-block;
	float: left;
	color: lightgray;
	text-decoration:none;
	margin: 5px 5px 5px;
	padding: 10px;
	font-size: 16px;
}



footer{
	text-align:center;
	margin:25px;
}
.container{
	width: 750px;
	margin: auto;
}
.logo{
	margin-top:5px;
	display: inline-block;
	float: right;
}
.main{
    margin:auto;
    margin-top:20px;
	height:525px;
}
	.main h1{
		text-align: center;
		font-size:64px;
		display: inline-block;
		margin:160px 0 auto 0;
		padding: auto;
	}
	.main img{
		margin:100px 0 auto 0;
		display: inline-block;
		float:right;
	}
	.main h1 .get-started{
		color: black;
		margin:10px;
		padding:10px 30px 10px 30px;
		border: solid black 2px;
		font-size:16px;
	}
.feat-about{
	margin: 10px;
	padding: 10px;
}
	.feat-about .feat{
		display: inline-block;
		float: left;
		margin:10px;
		width: 50%;
	}
.middle-img{
	margin:auto;
	padding:15px;
	width:100%;
}
.serv-prod-vis{
	margin: 10px;
	padding: 10px;
}
	.serv-prod-vis .column{
		display: inline-block;
		float: left;
		margin:10px;
		width:33%;
	}
.contact{
	margin-top:25px;
	margin-left:25px;
}